*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color:  #21a455 transparent !important; 
    border-radius: 8px;
}
* {
    scrollbar-width: thin;
    scrollbar-color:  #21a455 transparent !important; 
}

li.nav-item.dropdown.dropdown-help.dropdown-mobile.d-lg-block {
    Display : none !important;
    }

.widget {
    display: flex;
    flex-direction: column;
    min-height: 1px;
    padding: 7px;
    /* border-radius: var(--border-radius-lg); */
    height: 100%;
    background-color: var(--card-bg);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.standard-sidebar .standard-sidebar-item.selected, .desk-sidebar .standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected {
    background-color: #eddfdf !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-row {
    display: none !important;
}

.report-summary {
    display: none !important;
}